// @import './reset.css';
@import './markdown-reset.scss';
@import './markdown.scss';

html,
body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

#root{
    height: 100%;
}

:root,
:root[data-theme='light'] {
    --bg-color: #eee;
}

:root[data-theme='dark'] {
    --bg-color: red;
}

@font-face {
    font-family: HarmonyOS_Sans_SC_Medium;
    font-style: normal;
    font-display: swap;
    src: url('/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
        url('/HarmonyOS_Sans_SC_Medium.woff') format('woff');
    // src: url('/HarmonyOS_Sans_SC_Medium.woff') format('woff');
}

/* 要注意表单元素并不继承父级 font 的问题 */
body {
    font: 400 1em/1.6 'HarmonyOS_Sans_SC_Medium', PingFang SC, ui-sans-serif,
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Lantinghei SC,
        Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif,
        WenQuanYi Micro Hei, sans-serif;
    // font: 400 1em/1.6 PingFang SC, ui-sans-serif, -apple-system,
    //     BlinkMacSystemFont, 'Segoe UI', Lantinghei SC, Microsoft Yahei,
    //     Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
