// ::selection {
//     background-color: #1abc9c;
//     color: #fff;
// }

// pre ::selection {
//     color: inherit;
// }

.markdown-body {
    --color-base: #ef4444;
    --color-light: #ef44441a;
    --color-extra: rgba(239, 68, 68, 0.3);
}

.markdown-body.green {
    ::selection {
        background-color: var(--color-base);
        color: #fff;
    }
    pre ::selection {
        background-color: var(--color-light);
        color: inherit;
    }
    /* 块/段落引用 */
    blockquote {
        position: relative;
        // color: #555;
        font-weight: 400;
        border-left: 6px solid var(--color-base);
        padding-left: 1em;
        margin-left: 0;
        padding: 1em;
        background-color: var(--color-light);
    }

    /* 让链接在 hover 状态下显示下划线 */
    // a {
    //     color: var(--color-base);
    //     text-decoration: none;
    //     &:hover {
    //         text-decoration: underline;
    //     }
    // }
    a {
        position: relative;
        z-index: 10;
        transition: color 0.3s linear;
        cursor: pointer;
        font-weight: bolder;
        // text-decoration: underline #c7254e;
        text-decoration: none;
        color: #ff4d20;
        border-bottom: 1px solid currentColor;
        &[data-footnote-backref],
        &[data-footnote-ref] {
            // text-decoration: none;
            border: none;
            &:hover {
                background: none;
                animation: none;
            }
        }
        &:hover {
            content: '';
            // text-decoration: none;
            border: none;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23ff4d20' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E")
                repeat-x 0 100%;
            background-size: 20px auto;
            animation: waveMove 1s infinite linear;
        }
        @keyframes waveMove {
            0% {
                background-position: 0 100%;
            }
            100% {
                background-position: -20px 100%;
            }
        }
    }

    // 由prism.scss处理了
    pre {
        background: var(--prism-background);
        font-size: var(--prism-font-size);
        font-family: var(--prism-font-family);
        //     /* border: 1px solid #ddd; */
        // padding: 1em 1.5em;
        display: block;
        -webkit-overflow-scrolling: touch;
    }

    //     /* 底部印刷体、版本等标记 */
    small,
        /* 图片说明 */
        figcaption {
        font-size: 0.9em;
        color: #888;
    }
    // .markdown-body {
    legend {
        color: #000;
        font-weight: inherit;
    }
    caption {
        color: #000;
        font-weight: inherit;
    }
    del {
        text-decoration: line-through var(--color-base) 2px;
    }
    code {
        color: #ffffff;
        background-color: #ff4d20;
        border-radius: 4px;
        padding: 2px 4px;
        // font-size: 0.875em;
        font-size: 1.0769em;
        position: relative;
        top: 0.1em;
        margin: 0;
        vertical-align: text-bottom;
    }
    pre {
        code {
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre;
            background-color: transparent;
            vertical-align: baseline;
            border-radius: 0;
            margin: 0;
        }
    }
    table {
        th {
            border: 1px solid #ddd;
            padding: 0.5em 1em;
            background: #fbfbfb;
        }
        td {
            border: 1px solid #ddd;
            padding: 0.5em 1em;
        }
        caption {
            border: 1px solid #ddd;
            padding: 0.5em 1em;
            border-bottom: none;
        }
        thead {
            th {
                background: #f1f1f1;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
        line-height: 1.35;
        position: relative;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: 1em;
    }
    h1,
    h2,
    h3 {
        display: inline;
        width: auto;
        background: linear-gradient(
                to bottom,
                transparent 70%,
                var(--color-extra) 0
            )
            no-repeat;
        &::before {
            content: '';
            margin-top: 1.2em;
            display: block;
        }
        &::after {
            content: '';
            display: block;
            margin-bottom: 0.6em;
        }
    }
    ::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }
    em {
        color: #000;
        font-weight: inherit;
        position: relative;
        &:after {
            position: absolute;
            top: 0.65em;
            left: 0;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
            color: var(--color-base);
            content: '・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・';
        }
    }
    ul.toc {
        li {
            list-style-type: none;
            a {
                text-decoration: none;
                border: 0;
                list-style-type: none;
            }
        }
    }
    &.chinese {
        text-indent: 1.5em;
        font-weight: 300;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ol,
        ul,
        blockquote,
        details,
        summary,
        pre {
            text-indent: 0;
        }
    }
}
