---
import { getCollection } from 'astro:content'
import SinglePage from '@blog/layouts/SinglePage.astro'
const allPosts = await getCollection('posts')
const categories = [
    ...new Set(allPosts.map((post) => post.data.category).flat()),
]
---

<SinglePage>
    <h2 class="text-2xl">分类</h2>
    <ul class="list-disc ml-10">
        {
            categories.map((category) => (
                <li>
                    <a href={'/category/' + category}>{category}</a>
                </li>
            ))
        }
    </ul>
</SinglePage>
