---
import SinglePage from '@blog/layouts/SinglePage.astro'
import { getCategoryData } from '@root/src/utils'
const categories = await getCategoryData()
---

<SinglePage>
    <h2 class="text-2xl">分类</h2>
    <ul class="flex">
        {
            categories.map((category) => (
                <li class="ml-2 mt-2 first:ml-0 bg-red-500 text-white rounded-md">
                    <a
                        class="px-3 py-1 inline-block"
                        href={'/category/' + category}
                    >
                        {category}
                    </a>
                </li>
            ))
        }
    </ul>
</SinglePage>
