---
import '@blog/assets/style/common.scss'
import BaseHead from '@blog/components/BaseHead.astro'
import UserMenu from '@blog/components/UserMenu.astro'
// import ThemeToggle from '@blog/components/ThemeToggle.astro'
import { UseMotion } from '@blog/config'
import Search from "@blog/components/SearchInput/Search.astro"
import RocketIcon from "@blog/icons/Rocket.astro"
import ClearIcon from "@blog/icons/Clear.astro"

let pageName
const result = Astro.url.pathname.match(/\/(.*?)\//)
if(result) {
    const [_, _pageName] = result
    pageName = _pageName
}
---

<html lang="zh-CN">
    <head>
        <BaseHead {...Astro.props} />
        <script is:raw is:inline>
            ;(function () {
                var htmlElement = document.documentElement
                var curTheme = localStorage.getItem('data-theme')
                if (curTheme) {
                    htmlElement.setAttribute('data-theme', curTheme)
                }
            })()
        </script>
        <!-- 这个CDN太慢了,先不用了 -->
        <!-- https://github.com/chawyehsu/lxgw-wenkai-webfont -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css" /> -->
        <!-- Lite version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" /> -->
        <!-- TC version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.0.0/style.css" /> -->
        <!-- Screen version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css" /> -->
    </head>
    <body class:list={[UseMotion ? 'use-motion' : '', pageName]}>
        <div id="root" class="mx-auto flex">
            <UserMenu>
                <slot name="left-side" />
            </UserMenu>
            <!-- <div class="w-[280px] h-full sticky top-0">技术</div>
            <div class="w-[280px] h-full sticky top-0">生活</div> -->
            <div class="w-0 flex-grow">
                <slot />
            </div>
        </div>
        <script src="@blog/assets/script/main.ts"></script>
        <noscript>
            <link rel="stylesheet" href="/motion-less.css" />
        </noscript>
        <div class="fixed right-4 bottom-4 flex flex-col items-end gap-y-3 pointer-events-none">
            <div class="flex gap-x-2">
                <div
                    class="bg-white rounded-full shdow p-3 shadow-lg opacity-0 pointer-events-none transition-all cursor-pointer"
                    id="preMark"
                    title="上一个"
                >
                    上一个
                </div>
                <div
                    class="bg-white rounded-full shdow p-3 shadow-lg opacity-0 pointer-events-none transition-all cursor-pointer"
                    id="nextMark"
                    title="下一个"
                >
                    下一个
                </div>
            </div>
            <div
                class="bg-white rounded-full shdow p-3 shadow-lg opacity-0 pointer-events-none transition-all cursor-pointer"
                id="clearMark"
                title="清除查询"
            >
                <ClearIcon />
            </div>
            <div
                class="bg-white rounded-full shdow p-3 shadow-lg opacity-0 pointer-events-none transition-all cursor-pointer"
                id="toTop"
            >
                <RocketIcon />
            </div>
        </div>
        <Search />
    </body>
</html>
