---
import '@blog/assets/style/common.scss'
import BaseHead from '@blog/components/BaseHead.astro'
import UserMenu from '@blog/components/UserMenu.astro'
import { UseMotion } from '@blog/config'
---

<html lang="zh-CN">
    <head>
        <BaseHead {...Astro.props} />

        <!-- 这个CDN太慢了,先不用了 -->
        <!-- https://github.com/chawyehsu/lxgw-wenkai-webfont -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css" /> -->
        <!-- Lite version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.1.0/style.css" /> -->
        <!-- TC version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.0.0/style.css" /> -->
        <!-- Screen version -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css" /> -->
    </head>
    <body class={UseMotion ? 'use-motion' : ''}>
        <div id="root" class="max-w-[1280px] mx-auto flex">
            <UserMenu />
            <div class="w-0 flex-grow">
                <slot />
            </div>
        </div>
        <script src="@blog/assets/script/main.ts"></script>
        <noscript>
            <link rel="stylesheet" href="/motion-less.css" />
        </noscript>
    </body>
</html>
