---
import '@blog/assets/style/common.scss'
---

<html>
    <head>
        <meta charset="UTF-8" />
        <title>aaa</title>
    </head>
    <body>
        <div id="root">
            <slot />
        </div>
    </body>
</html>
