.tab>.iframe-wrapper-parent{
    margin: -1rem !important;
}

.iframe-wrapper-parent{
    height: 350px;
    margin-bottom: 0.6em !important;
}

.iframe-wrapper {
    padding: 0;
    margin: 0 !important;
    // width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    @apply border;
    margin-bottom: 0.6em !important;

    .tab &:last-child{
        margin-bottom: 0 !important;
    }

    &.iframe-fullpage{
        margin-bottom: 0 !important;
        position: fixed;
        z-index: 9999999;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: auto !important;
        .iframe-inner {
            background-color: #f7f7fb;
        }
        .iframe-title{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            transition: transform .1s linear;
            transform: translateY(-100%);
            &::after{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                height: 15px;
                top: 100%;
                cursor: pointer;
            }
            &:hover{
                transform: none;
                @apply shadow-md;
                &::after{
                    pointer-events: none;
                }
            }
        }
    }

    .iframe-title {
        display: flex;
        padding: 5px 10px;
        background: #eee;
        color: #555;
        align-items: center;
        gap: 6px;
        .text {
            flex: 1;
        }
        .buttons {
            display: flex;
            align-items: center;
            line-height: 1;
            .button {
                display: flex;
                align-items: center;
                padding: 5px 12px;
                cursor: pointer;
                background: #f5f5f5;
                &:hover {
                    background: #fefefe;
                }
                + .button {
                    margin-left: 6px;
                }
            }
        }
        .title{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .iframe-inner {
        height: 0;
        flex: 1;
        position: relative;
        iframe {
            height: 100%;
        }
        .iframe-mask{
            position: absolute;
            inset: 0;
            background-color: #55555523;
            display: flex;
            &::after{
                content: "网页为懒加载，点击上方的手势加载";
                margin: auto;
                color: #a8a8a8;
            }
        }
        &.notlazy .iframe-mask{
            display: none;
        }
        &.iframe-load .iframe-mask{
            display: none;
        }
    }
}
