.tabs {
    display: flex;
    flex-wrap: wrap;
    // box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    background-color: white;
}
.tabs + .tabs {
    margin-top: 1em;
}
.tabs .tab-name {
    line-height: 1;
    p {
        margin-bottom: 0;
    }
}
// code模式直接展示代码
.tabs[class*="code"]{
    .tab > .pre-wrapper >  pre {
        margin-bottom: 0;
    }
    .tab > .pre-wrapper{
        margin: -1rem;
        box-shadow: none;
        &::before {
            content: none;
        }
    }
    .tab-name{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 0.5rem 1rem;
    }

    .tab{
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}
.tabs label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
    transition: background ease 0.2s;
}
.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    @apply border-2;
}
.tabs.pure .tab {
    padding: 0;
    > * {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.tabs input[type='radio'] {
    display: none;
}
.tabs input[type='radio']:checked + label {
    background: var(--color-base);
    color: white;
}
.tabs input[type='radio']:checked + label + .tab {
    display: block;
}

.tabs .tab {
    > :last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 45em) {
    .tabs .tab,
    .tabs label {
        order: initial;
    }
    .tabs label {
        width: 100%;
        margin-right: 0;
        margin-top: 0.2rem;
    }
}
