.posts .swiper-parent,
.posts .left,
.posts .markdown-body,
.posts .home-panel,
.posts .article-image,
.posts .footer,
.posts #menu-wrapper,
.posts .time-wrapper,
.posts .maybe-like,
.posts .menus,
.posts .comment-wrapper {
    visibility: inherit !important;
}
.posts .markdown-body > * {
    visibility: inherit !important;
}
.comment-wrapper{
    display: none !important;
}