---
import { getCollection } from 'astro:content'
import { BlogCollectionName } from '@blog/config'
import SinglePage from '@blog/layouts/SinglePage.astro'
import UserProfile from '@blog/components/UserProfile.astro'
const blogEntries = await getCollection(BlogCollectionName)
---

<SinglePage>
    <UserProfile />
    <h2>页面</h2>
    <ul>
        <li>
            <a href={`/tags`}>标签</a>
        </li>
        <li>
            <a href={`/category`}>分类</a>
        </li>
    </ul>
    <h2>Posts</h2>
    <ul>
        {
            blogEntries.map((blogPostEntry) => (
                <li>
                    <a href={`/posts/${blogPostEntry.slug}`}>
                        {blogPostEntry.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</SinglePage>
