---
// https://iconify.design/docs/usage/svg/astro/
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content'
import { BlogCollectionName } from '@blog/config'
import SinglePage from '@blog/layouts/SinglePage.astro'
const blogEntries = await getCollection(BlogCollectionName)
---

<SinglePage>
    <h2 class="flex items-center text-red-600">
        <Icon name="mdi:home" class="w-[28px] h-[28px]" />页面
    </h2>
    <ul>
        <li class="ml-5">
            <a href={`/tags`}>标签</a>
        </li>
        <li class="ml-5">
            <a href={`/category`}>分类</a>
        </li>
    </ul>
    <h2>Posts</h2>
    <ul>
        {
            blogEntries.map((blogPostEntry) => (
                <li class="ml-5">
                    <a href={`/posts/${blogPostEntry.slug}`}>
                        {blogPostEntry.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</SinglePage>
