---
import { getLifeDataSortByTime } from '@blog/utils'
import ArticleCard from '@blog/components/ArticleCard.astro'
import SinglePage from '@blog/layouts/SinglePage.astro'
const lifeEntries = await getLifeDataSortByTime()
---

<SinglePage>
    <div class="mb-8 text-3xl max-w-[1080px] mx-auto">生活杂记</div>
    <!-- grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-cols-auto gap-x-3 gap-y-4 -->
    {
        !!lifeEntries.length && (
            <div class="flex gap-3 mt-6 mb-2 max-w-[1080px] mx-auto">
                {lifeEntries.map((blogPostEntry) => (
                    <ArticleCard
                        articleData={blogPostEntry}
                        href={`/life/${blogPostEntry.slug}`}
                    />
                ))}
            </div>
        )
    }
    {
        !lifeEntries.length && (
            <div class="text-center text-gray-400 text-2xl pt-5">
                空空如也~~
            </div>
        )
    }
</SinglePage>
