---
import '@blog/assets/style/common.scss'
import BaseHead from '@blog/components/BaseHead.astro'
import { UseMotion } from '@blog/config'
---

<html lang="zh-CN">
    <head>
        <BaseHead {...Astro.props} />
    </head>
    <body class:list={['is-preload', UseMotion ? 'use-motion' : '']}>
        <slot />
    </body>
</html>
