---
import Base from './Base/Base.astro'
import UserProfile from '@blog/components/UserProfile.astro'
---

<Base {...Astro.props}>
    <main class="pt-12">
        <UserProfile />
        <slot />
    </main>
</Base>
