---
import Base from './Base/Base.astro'
import { Icon } from 'astro-icon'
---

<Base {...Astro.props}>
    <div class="min-h-full flex flex-col">
        <header
            class="max-lg:flex hidden fixed left-0 right-0 top-0 h-[46px] bg-white items-center px-[10px] z-[50]"
        >
            <Icon id="menu-btn" name="mdi:menu" class="w-[36px] h-[36px]" />
            <div
                id="menu-mask"
                style="pointer-events: none;opacity: 0;"
                class="fixed transition-all left-0 right-0 top-0 bottom-0 bg-black/[.3] z-50"
            >
            </div>
        </header>
        <div class="h-[46px] hidden max-lg:block"></div>
        <main
            class="ml-[10px] mr-[10px] lg:ml-[330px] lg:mr-[30px] pt-5 flex-1 flex flex-col"
        >
            <div class="h-0 flex-1">
                <slot />
            </div>
        </main>
        <div
            class="footer text-center ml-0 lg:ml-[300px] py-8 bg-white border-t"
        >
            <div>
                © 2023 <a
                    target="_blank"
                    class="text-red-400"
                    href="https://github.com/npmrun">NPMRUN</a
                >. All rights reserved.
            </div>
            <div>
                Built with <span
                    class="text-red-400 text-3xl relative top-1 heart-pong drop-shadow-lg"
                    >♥</span
                > by <a
                    target="_blank"
                    class="text-red-400"
                    href="https://github.com/npmrun/astro-theme-sleepless"
                    >失眠先生</a
                > Powered By <a
                    target="_blank"
                    class="text-red-400"
                    href="https://astro.build/">Astro</a
                >
            </div>
        </div>
    </div>
</Base>
